.imageSelect {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.profileImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #fff;
}

.imageGeant {
    width: 80%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    box-shadow: 0px 5px 10px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.divGroupe {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.divTitre {
    display: grid;
    /* justify-items: center; */
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    right: 5px;
    top: 50px;
    padding: 2px 7px;
    border-radius: 5px;
    user-select: none;
}

.acceuil {
    font-size: medium;
    height: 40px;
    background-color: #7dd7a9;
    color: #013701;
    width: 90%;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bigDiv {
    width: 100%;
    justify-items: center;
    background-color: white;
    height: 100%;
    min-height: 450px;
}

.nomGroupe {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 13%;
    margin-top: 1%;
}

.image-container {
    display: flex;
    margin-left: 13%;
}

.image-container img {
    border: 2px solid #fff;
}

/*  */
.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 10px;
    margin-left: 17px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {
    display: block;
}

.profil-pic-container {
    margin: 5px 10px;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-users {
    height: fit-content;
    grid-area: main;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 10px;
    justify-content: flex-start;
    align-content: flex-start;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
}