body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #495057;
}

* {
    user-select: none;
}

.profile-header {
    display: flex;
    background-color: #ffffff;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e8e8e8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    flex-wrap: wrap;
}

.profile-image {
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #c4c4c4;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #fff;
}

.profile-info {
    flex: 1;
}

.profile-name {
    font-size: 40px;
    margin: 0;
    font-weight: 700;
}

.profile-stats {
    margin-top: 15px;
}

.profile-stats span {
    font-size: 25px;
    color: #6c757d;
    font-weight: 500;
}

.btn-modify {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    height: 40px;
    color: white;
    font-size: 20px;
    padding: 0 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-modify:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

hr {
    border: 0;
    height: 1px;
    background-color: #e8e8e8;
    margin: 20px 0;
}

.container-profil-pub {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(505px, 1fr));
    margin: auto;
}

.image-pub-profil {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    display: grid;
    place-content: center;
    place-self: center;
    position: relative;
}

.titre {
    position: absolute;
    color: black;
    background-color: #f4f7f6;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.titre:hover {
    text-decoration: underline;
}

.image-pub-profil>video {
    border-radius: 10px;
    max-width: 500px;
    height: 500px;
}