* {
  box-sizing: border-box;

}

body {
  background-color: rgb(220, 220, 220) !important;
}

a {
  text-decoration: none;
  color: #0770b1;
}

a:hover {
  text-decoration: underline;
}

.container-login {
  display: flex;
  width: 90%;
  height: fit-content !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.boxLogin {
  background-color: white;
  width: 450px;
  top: 25%;
  right: 15%;
}

.boxLogo {
  width: 550px;
  height: fit-content;
  top: 25%;
  left: 15%;
}

.submit {
  width: 90%;
  background-color: #0770b1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enregistrer {
  width: 30%;
  background-color: #10cf6d;
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enregistrer:hover {
  background-color: #1ca55e;
}

.modification {
  width: 90%;
  margin: 0 auto;
  /*  centre la div horizontalement */
  padding: 20px;
}

.button {
  background-color: #0770b1;
  /* Green */
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15%;
}

.centered-div {
  width: 90%;
  margin: 0 auto;
  /*  centre la div horizontalement */
  padding: 20px;
  display: flex;
}

.connexion>input:not(input[type=submit]) {
  padding: 20px 10px;
  font-size: medium;
}

.create {
  width: 90%;
  background-color: #10cf6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1111px) {
  .boxLogo {
    height: fit-content;
    margin-bottom: 2em;
  }
}

/* --------------------- */

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn-modify {
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  height: 25px;
}

.btn-modify:hover {
  background-color: #dedede;
}

.profil-image {

  cursor: pointer;
  width: 200px;
  margin-top: 5px;
  border-radius: 50px;
  margin-left: 100px;
}

/* Styles de base pour la barre de navigation */
.container {
  display: flex;
}

.sidebar {
  width: 10%;
  /* La barre de navigation occupe 10% de la largeur de la page */
  background-color: #333;
  /* Couleur de fond de la barre de navigation */
  color: #fff;
  /* Couleur du texte de la barre de navigation */
  padding: 20px;
  /* Espacement intérieur de la barre de navigation */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

/* Styles pour le contenu principal de la page */
.content {
  flex: 1;
  /* Le contenu principal occupe le reste de l'espace disponible */
  padding: 20px;
  /* Espacement intérieur du contenu principal */
}

.groupe-container {
  height: 100%;
  width: 350px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.nav-groupe {
  margin-left: 10px;
  width: 90%;
  margin-bottom: 10px;
}

.tout {
  margin-left: 100px;
  width: 90%;
}

.box-groupe {
  background-color: #10cf6d;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  cursor: pointer;
  width: 90%;
  height: 4%;
}

.box-groupe:hover {
  background-color: #72ca9c;
}

.nom-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-weight: bold;
  margin-left: 15px;
}

.choix {
  border: none;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.choix:hover {
  background-color: rgb(192, 192, 192);
}

.selected {
  background-color: rgb(192, 192, 192);
}



.Bgroupe {
  background-color: #007bff;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.Bgroupe2 {
  background-color: #8cc0f7;
  color: white;
  width: 200px;
  height: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.Bgroupe:hover {
  background-color: #1560b1;
  cursor: pointer;
}

.createGroup {
  background-color: #007bff;
  margin-top: 30px;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: white;
  border: none;
  margin-left: 10px;
}

.createGroup:hover {
  background-color: #1560b1;
  cursor: pointer;
}

.groupImg {
  border-radius: 5px;
  width: 90%;
  height: 40px;
  font-size: 16px;
  margin-bottom: 10px;
}

.centered-div2 {
  width: 60%;
  margin: 0 auto;
  /* Pour centrer horizontalement */
  background-color: rgb(245, 245, 245);
  /* Couleur de fond (pour visualisation) */
  padding: 20px;
  /* Espace intérieur */
  height: 65%;
  margin-top: 5%;
  border-radius: 10px;
}

.imageGroup {
  width: 100%;
  height: 40%;
  background-image: url(../default-image.jpg);
  background-size: cover;
  background-position: center;
}

.titre-groupe {
  margin-top: 5%;
  font-size: 20px;
  text-align: center;
}

.image-groupe {
  background-size: cover;
  background-position: center;
  width: 298;
  height: 220;
}

.apercu {
  font-size: 20px;
  margin-bottom: 1%;
  font-weight: bold;
  color: gray;
}

.name-group {
  font-size: 30px;
  margin-top: 1%;
  font-weight: bold;
  color: gray;
  width: 100%;
  word-wrap: break-word;
}

.confidentialite {
  color: gray;
  font-size: 18px;
}

.A-propos {
  background-color: white;
  height: 35%;
  margin-top: 2%;
  border-radius: 10px;
}

.profil {
  width: calc(20% - 10px);
  padding: 15px;
  border: 2px solid #ddd;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 15px;
}

.photo-profil {
  padding-top: 100%;
  background-image: url(../profil-default.jpg);
  background-size: cover;
  background-position: center;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
}

.nom {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 10px;
  padding: 0 10px;
}

.bouton-accepter {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.refuser {
  background-color: rgb(185, 52, 52);
}

.bouton-accepter:hover {
  background-color: #1566d1 !important;
}

.refuser:hover {
  background-color: rgb(165, 23, 23) !important;
}