:root {
    --pubHeight: 30em;
    --pubWidth: 23em;
    --marge: 3em;
}

body {
    overflow-y: hidden;
}

div.publications-container {
    /* height: calc(var(--pubHeight) + var(--marge)); */
    height: 90vh;
    width: calc(var(--pubWidth) + var(--marge));
    overflow-y: scroll;
    margin: 0 auto;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-snap-type: y mandatory;
}

div.publications-container::-webkit-scrollbar {
    display: none;
}

div.publication:not(:first-child) {
    height: var(--pubHeight);
}

div.publication {
    scroll-snap-align: start;
    width: var(--pubWidth);
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 1em;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-height: 826px) {
    :root {
        --pubHeight: 46em;
        --pubWidth: 40em;
    }
}

@media screen and (min-height: 1130px) {
    :root {
        --pubHeight: 64em;
        --pubWidth: 57em;
    }
}

.image-pub {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.image-pub img {
    max-width: 100%;
    max-height: 40vh;
}

i.cancel {
    color: #1877f2;
    cursor: pointer;
}

i.cancel:hover {
    color: #0056b3;
}

i.cancel.none {
    display: none;
}

.image-pub-container,
#choosed {
    width: var(--pubWidth);
    height: calc(var(--pubHeight) - 200px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.profil-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px 10px;
    float: left;
    align-content: space-evenly;
    justify-items: stretch;
}

.profil-pic img {
    height: 100%;
}

.infos-publication {
    display: flex;
    flex-direction: row-reverse;
}

.profil-name a {
    text-decoration: none;
    color: black;
    vertical-align: baseline;
}

.container-nom-date {
    align-self: center;
    text-align: left;
    color: gray;
}

.publication .titre {
    text-align: left;
    padding: 5px 10px;
}

.publication hr {
    width: 95%;
    height: 1px;
}

.likes-comment-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10px;
}

.actions-pub {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 10px;
}

.actions-pub * {
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.right-section {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: #007bff;
    outline: none;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.file-choosed {
    text-align: center;
}

.file-choosed#choosed {
    width: auto !important;
    height: 300px;
}

.file-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 20px;
}

.file-label:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

.publish {
    display: flex;
    justify-content: space-between;
}

.publication .container {
    width: var(--pubWidth);
    padding: 10px;
}